#page-load {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    opacity: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

#load-progress {
    width: 80%;
    height: 15%;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
}

#load-percentage {
    width: 1%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid green;
}