#pianoRack {
    height: 80%;
    width: 80%;
    border: 2px solid black;
    background-color: darkgray;
    position: fixed;
    display: none;
    top: 10%;
    left: 10%;
    resize: both;
}

#pianoRack .top-bar, #pianoRack .bottomBar {
    height: 5%;
    min-height: 30px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

#piano-rack-options-bar {
    max-height: 5%;
    min-height: 30px;
    height: 5%;
    width: 100%;
    background-color: black;
    border-top: 1px solid white;
}

.closeButton {
    color: red;
    font-weight: bold;
    height: 100%;
    overflow: hidden;
    background-color: darkred;
}

#piano-rack-holder {
    max-height: 70%;
    height: 70%;
    width: 100%;
    background-color: #222222;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow: scroll;
}

#piano-rack-velocity-display {
    max-height: 156%;
    height: 15%;
    width: 100%;
    background-color: #222222;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow-y: hidden;
    overflow-x: scroll;
}

#piano-rack-edit-area {
    border-collapse:separate;
    border-spacing: 1px;
}

#piano-rack-edit-area tr.white-key {
    height: 40px;
}

#piano-rack-edit-area tr.black-key {
    height: 20px;
}

#piano-rack-edit-area tr td {
    min-width: 20px;
    height: 100%;
    position: relative;
    border-left: 1px solid white;
}

#piano-rack-edit-area tr.white-key td[data-tick] {
    background-color: #444;
}

#piano-rack-edit-area tr td[data-tick].play-line {
    background-color: forestgreen !important;
}

#piano-rack-edit-area tr td[data-tick]:hover, #piano-rack-edit-area tr td.highlighted {
    background-color: lightgreen !important;
}

#piano-rack-edit-area tr.black-key td[data-tick] {
    background-color: #222222;
}

#piano-rack-edit-area tr td.black-key {
    min-width: 20px;
    background-color: black;
}

#piano-rack-edit-area tr td.white-key {
    background-color: white;
    color: black;
}

.piano-rack-selection {
    min-width: 20px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: green;
    position: absolute;
    z-index: 1;
    text-align: left;
    color: black;
}

.piano-rack-selection:hover {
    background-color: greenyellow;
}

.piano-rack-selection-extender {
    width: min(20%, 5px);
    height: 100%;
    background-color: darkgreen;
    opacity: 50%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: e-resize;
}

#piano-rack-record-button.on {
    color: darkred;
}